body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 45px;
}
.orange-color {
  color: rgb(243, 242, 239);
}
.flexible-container {
  display: flex;
}
.div1 {
  width: 50%;
  padding-left: 7%;
}
.div1 img {
  width: 90%;
}

.link-button {
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  background-image: linear-gradient(#f78667, rgb(231, 43, 9));
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.top-banner2 {
  display: flex;
  margin-top: 10px;
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.div2 img {
  width: 120%;
  padding-left: 10px;
}
.div3 {
  width: 80%;
  padding-left: 150px;
}
.div4{
    width: 50%;
    padding-left:40px;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    border-left: 10px solid tomato;
    background-image: linear-gradient(tomato,orange);
    color: white;
}
h2{
    font-size: 35px;
}
.last-container{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    margin-top: 15px;
}
#web-dev-container{
    background-image: linear-gradient(orange,tomato);
    color: white;
}
#amar-name{
    background-image: linear-gradient(tomato,orange,);
    color: white;
}